.homecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    text-align: center;

    .title {
        font-family: "Bebas Neue", sans-serif;
        font-weight: 1000;
        font-size: 60px;
        color: #fff3ed;
        margin-top: 0px;
        margin-bottom: 0px;
    }
}