.main-content {
    padding-top: 80px;
    justify-content: center;
}

.about-text {
    font-family: "Merriweather", serif;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 28px;
    word-spacing: 2px;
    color: #fff3ed;
    text-align: center;
    z-index: 6;
}

.about-box {
    background-color: rgba(0, 0, 0, 0.6);
    width: 50%;
    margin: 0 auto;
}