Body {
    Background-color: #3C3030; 
    background-image: url('/public/images/bg.png');
    background-size: cover;
    background-position: flex;
    background-repeat: no-repeat;
    height: 100vh;   
}