Body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    Background-color: #3C3030; 
    background-image: url('/public/images/bg.png');
    background-size: cover;
    background-position: flex;
    background-repeat: no-repeat;
    min-height: 100vh;
}
*,*::before,*::after{
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h2 {
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 1000;
    font-size: 90px;
    color: #fff3ed;
    margin-top: 0px;
    margin-bottom: 0px;
    filter: drop-shadow(black 5px 5px)
}