@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.barcontainer {
    display: flex;
    background-color: #3C3030;
    align-items: center;
    width: 100%;
    margin:auto;
    position: sticky;
    top: 0;
    justify-content: space-between;
    padding: 0 30px;

    .logocontainer {
        display: flex;
        align-items: center;
        width: auto;
        text-decoration: underline;
        
        img:hover{
            border-bottom: 2px solid white;
        }
    }

    .textcontainer {
        display: flex;
        gap: 25px;
        color: #fff3ed;
        text-align: end;
        justify-content: end;
        font-size: 16px;
        font-family: "Domine", serif;
    }
}