@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");


.titlecontainer {
    .title {
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 700;
        font-size: 25px;
    }
}