@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");


.titlecontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;

    .title {
        font-family: 'Oswald', sans-serif;
        font-weight: 1000;
        font-size: 80px;
        color: #fff3ed;
    }
}