.container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 320px) and (max-width: 479px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1440px) and (max-width: 1919px) {
  .container {
    width: 80%;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 70%;
  }
}
Body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  Background-color: #3C3030;
  background-image: url("/public/images/bg.png");
  background-size: cover;
  background-position: flex;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 1000;
  font-size: 90px;
  color: #fff3ed;
  margin-top: 0px;
  margin-bottom: 0px;
  filter: drop-shadow(black 5px 5px);
}

label {
  text-align: center;
  font-family: "Merriweather", serif;
  color: #fff3ed;
}

.head-container {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  justify-content: space-between;
  background-color: #3C3030;
  width: 100vw;
  top: 0;
  z-index: 6;
}
.head-container .logo {
  grid: 1;
  text-decoration: underline;
}
.head-container .logo img:hover {
  border-bottom: 2px white;
}
.head-container .page-title {
  grid: 3;
  display: flex;
  font-family: "Oswald", sans-serif;
  gap: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #fff3ed;
}
.head-container .page-title .text:hover {
  text-decoration: underline;
}

footer {
  display: inline-flex;
  grid-column: 1;
  flex-direction: column;
  left: 0;
  bottom: 0;
  background-color: #2b2222;
  width: 100vw;
  margin-top: auto;
  padding: 0;
}
footer .copyright {
  text-align: center;
  justify-content: center;
  color: #fff3ed;
}

.button-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.button-container .button {
  background-color: black;
  border: 2px solid #f9e3d7;
  border-radius: 16px;
  font-size: 20px;
  font-family: "Merriweather", serif;
  color: #ffffff;
  padding: 8px 22px;
  transition-duration: 0.4s;
}
.button-container .button:hover {
  background-color: #f9e3d7;
  color: black;
}

.homecontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 80px;
  text-align: center;
}
.homecontainer .title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 1000;
  font-size: 60px;
  color: #fff3ed;
  margin-top: 0px;
  margin-bottom: 0px;
}/*# sourceMappingURL=style.css.map */