// Font styles
$ptext-colour: #fff3ed;
$stext-colour: #ffffff;
$spacing: 1rem;
$fonts: (
    primary: "Oswald",
    secondary: "Bebas Neue",
    tertiary: "Merriweather",
    type-san: sans-serif,
    type-ser: serif
)